.speech{
font-family: 'Times New Roman', Times, serif;
font-size: 12px;
color: black;
}
.direction{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 15px;
 color: black;
 background-color: lightpink;
}
.direction:hover{
    color: yellow; 
    background-color: antiquewhite;
 }
.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkorange;
}
.KAIA:hover { 
    text-shadow:5px 5px 5px rgb(232, 162, 112);
    border:2px solid aqua;
    cursor:pointer;
}
.SOLNESS:hover {
    text-shadow:2px 2px 4px darkblue;
    border:2px solid darkolivegreen;
    cursor:pointer;
}
.KAIA{
    color: fuchsia;
}
.SOLNESS{
    color: maroon;
}

table { 
    width: auto;
    border-collapse: collapse;  
    margin-top: 16px;
    margin-bottom: 20px;
}
th, td {
    border: 2px solid violet;
    padding: 10px;
    text-align: left;
    color: blueviolet;
}
tr:nth-child(even){
    background-color: cornsilk;
}

th {
    background-color: lightcyan;
}
li {

    display: inline;

}

 

li {

    float: left;

}

 

li {

    float: left;

}

 

li {

    display: block;

    padding: 8px;

    background-color: rgb(95, 110, 220);

}



