.speech{
font-family: 'Times New Roman', Times, serif;
font-size: 12px;
color: black;
}
.direction{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 15px;
 color: black;
 background-color: lightpink;
}
.KAIA{
    color: fuchsia;
}
.SOLNESS{
    color: maroon;
}
.direction:hover{
   color: yellow; 
   background-color: antiquewhite;
}
.KAIA:hover { 
    text-shadow:2px 2px chocolate;
    border:2px solid aqua;
    cursor:pointer;
}
.SOLNESS:hover {
    text-shadow:2px 2px darkblue;
    border:2px solid darkolivegreen;
    cursor:pointer;
}
table { 
    width: auto;
    border-collapse: collapse;  
    margin-top: 16px;
    margin-bottom: 20px;
}
th, td {
    border: 2px solid violet;
    padding: 10px;
    text-align: left;
    color: blueviolet;
}
tr:nth-child(even){
    background-color: cornsilk;
}

th {
    background-color: lightcyan;
}

